.modal_dropbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #0000006c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_content {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  width: 50%;
  height: 35%;
  background-color: #fff;
}
